body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(197, 200, 197);
}
.navbar{
  background-color: black;
  color: white;
  padding: 4px 16px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a{
  text-decoration: none;
  color: white;
}
.post-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post{
  width: 22vw;
  min-width: 300px;
  border-radius: 8px;
  margin: 16px;
  padding: 8px;
  text-align: center;
  background-color:white;
  color: black;
  box-shadow:  16px 16px 16px rgba(37, 36, 36, 0.19);
}
.post img{
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}
.post-content{
  text-align: start;
}
.post:hover{
  cursor: pointer;
}
.postDetail-container{
  width: 80vw;
  margin: 16px auto;
}
.postDetail-container img{
  max-width: 100%;
  height: auto; 
  display: block;
  margin: 0 auto;
}
.postDetail-container h1{
  font-size: 32px;
}
.postDetail-container p{
  font-size: 16px;
}
.animation-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999; 
}
